body {
    font-family: 'Montserrat';
}

.featured-item {
padding: 80px 0 80px 0;
}
.featured-item .right {
    
}
.featured-item .right .origin-price {
    color: #9b9b9b; 
    font-size: 18px;
    text-decoration: line-through;
}

.featured-item .right .title {
    font-size: 56px;
    font-family: 'Montserrat-ExtraLight';
    color: #5C5C5C;
}

.featured-item .left {
    
}
.featured-item .left img {
    height: 300px;
    margin-left: 250px;
}

.mynavbar {
   
}

.mynavbar .navbar-brand {
   font-weight: bold;
   font-size: 32px;
   color: palevioletred;
}

.mynavbar .navbar-nav {
   margin-top: 10px;
}

.mynavbar .navbar-nav li a {
    padding-right: 30px;
 }

.mynavbar .navbar-nav li a {
    color: #5C5C5C;
 }