body {
    font-family: 'Montserrat';
}
.new-arrival {

}
.new-arrival .title {
    color: #5C5C5C;
    margin-bottom: 40px;
}

.new-arrival .item {   
}
.new-arrival .item .price {
   font-size: 16px;
   color: #1abc9c;
   text-align: center;
   margin-top: -16px;
    
}
.new-arrival .item .product-name {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #5C5C5C;
    font-family:  'Montserrat';
}

.featured-item {
padding: 80px 0 80px 0;
}
.featured-item .right {
    
}
.featured-item .btn-primary {
    margin-top: 20px;
    color: white;
    background: #1abc9c;
    border-radius: 100px;
    border: 0px;
    padding: 8px 28px 8px 28px;
    -webkit-box-shadow: -4px 7px 44px 0px rgba(255,187,93,0.74);
    -moz-box-shadow: -4px 7px 44px 0px rgba(255,187,93,0.74);
    box-shadow: -4px 7px 44px 0px rgba(255,187,93,0.74);
    
}

.featured-item .right .origin-price {
    color: #9b9b9b; 
    font-size: 18px;
    text-decoration: line-through;
    margin-top: -20px;
}
.featured-item .right .disc-price {
    color: palevioletred;
    font-size: 28px;
    font-family: 'Montserrat';
    margin-top: -10px;

}

.featured-item .right .title {
    font-size: 56px;
    font-family: 'Montserrat-ExtraLight';
    color: #5C5C5C;
    line-height: 1.3;
    margin-bottom: 30px;
}

.featured-item .left {
    
}
.featured-item .left img {
    height: 300px;
    margin-left: 250px;
}

.mynavbar {
   
}

.mynavbar .navbar-brand {
   font-weight: bold;
   font-size: 32px;
   color: palevioletred;
}

.mynavbar .navbar-nav {
   margin-top: 10px;
}

.mynavbar .navbar-nav li a {
    padding-right: 30px;
 }

.mynavbar .navbar-nav li a {
    color: #5C5C5C;
 }